In [15]:
import pandas as pd

In [16]:
df1 = pd.read_csv(r"C:\Users\Kacper\Desktop\uczelnia\sem6\Praca\data\df1_clean.csv", index_col=0)

In [17]:
df2 = pd.read_csv(r"C:\Users\Kacper\Desktop\uczelnia\sem6\Praca\data\df2_clean.csv", index_col=0)

In [18]:
df3 = pd.read_csv(r"C:\Users\Kacper\Desktop\uczelnia\sem6\Praca\data\df3_clean.csv", index_col=0)

In [19]:
df1.head()

,mark,model,generation_name,year,mileage,vol_engine,fuel,city,province,price
0,opel,combo,gen-d-2011,2015,139568,1248,Diesel,Janki,Mazowieckie,35900
1,opel,combo,gen-d-2011,2018,31991,1499,Diesel,Katowice,Śląskie,78501
2,opel,combo,gen-d-2011,2015,278437,1598,Diesel,Brzeg,Opolskie,27000
3,opel,combo,gen-d-2011,2016,47600,1248,Diesel,Korfantów,Opolskie,30800
4,opel,combo,gen-d-2011,2014,103000,1400,CNG,Tarnowskie Góry,Śląskie,35900

In [20]:
df2.head()

,Cena,Lokalizacja,Kategoria,Tytuł ogłoszenia,Marka pojazdu,Model pojazdu,Generacja,Rok produkcji,Wiek,Przebieg,...,Zarejestrowany jako zabytek,Tuning,Oferta od,Stan,Bezwypadkowy,Uszkodzony,Możliwość finansowania,Pierwszy właściciel (od nowości),Czas dodania,timestamp
0,105900.0,"ul. Henryka Kamieńskiego 47 - 30-644 Kraków, P...",Osobowe,Abarth 595,Abarth,595,Unknown,2021.0,2.0,12015.0,...,Nie,Nie,Firmy,Używane,Tak,Nie,Nie,Nie,2023-08-30 17:12:00,2023-08-31 04:04:08
1,112000.0,"Gliwice, Śląskie, Trynek",Osobowe,Abarth 595,Abarth,595,Unknown,2023.0,0.0,7.0,...,Nie,Nie,Osoby prywatnej,Używane,Tak,Nie,Nie,Nie,2023-08-30 15:57:00,2023-08-31 04:04:08
2,39999.0,"Strzebielino Osiedle, wejherowski, Pomorskie",Osobowe,Abarth 500,Abarth,500,Unknown,2011.0,12.0,151255.0,...,Nie,Nie,Osoby prywatnej,Używane,Nie,Nie,Nie,Nie,2023-08-30 13:08:00,2023-08-31 04:04:08
3,22800.0,"Skrzynka, kłodzki, Dolnośląskie",Osobowe,Abarth Grande Punto,Abarth,Grande Punto,Unknown,2009.0,14.0,299500.0,...,Nie,Nie,Osoby prywatnej,Używane,Nie,Nie,Nie,Nie,2023-08-25 15:27:00,2023-08-31 04:04:08
4,29000.0,"Lublin, Lubelskie",Osobowe,Abarth Grande Punto,Abarth,Grande Punto,Unknown,2009.0,14.0,222463.0,...,Nie,Nie,Osoby prywatnej,Używane,Nie,Nie,Nie,Nie,2023-08-30 15:06:00,2023-08-31 04:04:08

In [21]:
df3.head()

,Price,Currency,Condition,Vehicle_brand,Vehicle_model,Vehicle_version,Vehicle_generation,Production_year,Mileage_km,Power_HP,...,Drive,Transmission,Type,Doors_number,Colour,Origin_country,First_owner,Offer_publication_date,Offer_location,Features
Index,,,,,,,,,,,,,,,,,,,,,
0,86200,PLN,New,Abarth,595,Brak danych,Brak danych,2021,1.0,145.0,...,Front wheels,Manual,small_cars,3.0,gray,Brak danych,No,04/05/2021,"ul. Jubilerska 6 - 04-190 Warszawa, Mazowiecki...",[]
1,43500,PLN,Used,Abarth,Other,Brak danych,Brak danych,1974,59000.0,75.0,...,Front wheels,Manual,coupe,2.0,silver,Brak danych,No,03/05/2021,"kanonierska12 - 04-425 Warszawa, Rembertów (Po...",[]
2,44900,PLN,Used,Abarth,500,Brak danych,Brak danych,2018,52000.0,180.0,...,Front wheels,Automatic,small_cars,3.0,silver,Brak danych,No,03/05/2021,"Warszawa, Mazowieckie, Białołęka","['ABS', 'Electric front windows', 'Drivers air..."
3,39900,PLN,Used,Abarth,500,Brak danych,Brak danych,2012,29000.0,160.0,...,Front wheels,Manual,small_cars,3.0,gray,Brak danych,No,30/04/2021,"Jaworzno, Śląskie","['ABS', 'Electric front windows', 'Drivers air..."
4,97900,PLN,New,Abarth,595,Brak danych,Brak danych,2021,600.0,165.0,...,Front wheels,Manual,small_cars,3.0,blue,Brak danych,No,30/04/2021,"ul. Gorzysława 9 - 61-057 Poznań, Nowe Miasto ...","['ABS', 'Electrically adjustable mirrors', 'Pa..."