In [2]:
import pandas as pd

In [3]:
df1 = pd.read_csv(r"C:\Users\Kacper\Desktop\uczelnia\sem6\Praca\data\df1_clean.csv", index_col=0)

In [4]:
df2 = pd.read_csv(r"C:\Users\Kacper\Desktop\uczelnia\sem6\Praca\data\df2_clean.csv", index_col=0)

In [5]:
df3 = pd.read_csv(r"C:\Users\Kacper\Desktop\uczelnia\sem6\Praca\data\df3_clean.csv", index_col=0)

In [19]:
df1.head()

,mark,model,generation_name,year,mileage,vol_engine,fuel,city,province,price
0,opel,combo,gen-d-2011,2015,139568,1248,Diesel,Janki,Mazowieckie,35900
1,opel,combo,gen-d-2011,2018,31991,1499,Diesel,Katowice,Śląskie,78501
2,opel,combo,gen-d-2011,2015,278437,1598,Diesel,Brzeg,Opolskie,27000
3,opel,combo,gen-d-2011,2016,47600,1248,Diesel,Korfantów,Opolskie,30800
4,opel,combo,gen-d-2011,2014,103000,1400,CNG,Tarnowskie Góry,Śląskie,35900

In [20]:
df2.head()

,Cena,Lokalizacja,Kategoria,Tytuł ogłoszenia,Marka pojazdu,Model pojazdu,Generacja,Rok produkcji,Wiek,Przebieg,...,Zarejestrowany jako zabytek,Tuning,Oferta od,Stan,Bezwypadkowy,Uszkodzony,Możliwość finansowania,Pierwszy właściciel (od nowości),Czas dodania,timestamp
0,105900.0,"ul. Henryka Kamieńskiego 47 - 30-644 Kraków, P...",Osobowe,Abarth 595,Abarth,595,Unknown,2021.0,2.0,12015.0,...,Nie,Nie,Firmy,Używane,Tak,Nie,Nie,Nie,2023-08-30 17:12:00,2023-08-31 04:04:08
1,112000.0,"Gliwice, Śląskie, Trynek",Osobowe,Abarth 595,Abarth,595,Unknown,2023.0,0.0,7.0,...,Nie,Nie,Osoby prywatnej,Używane,Tak,Nie,Nie,Nie,2023-08-30 15:57:00,2023-08-31 04:04:08
2,39999.0,"Strzebielino Osiedle, wejherowski, Pomorskie",Osobowe,Abarth 500,Abarth,500,Unknown,2011.0,12.0,151255.0,...,Nie,Nie,Osoby prywatnej,Używane,Nie,Nie,Nie,Nie,2023-08-30 13:08:00,2023-08-31 04:04:08
3,22800.0,"Skrzynka, kłodzki, Dolnośląskie",Osobowe,Abarth Grande Punto,Abarth,Grande Punto,Unknown,2009.0,14.0,299500.0,...,Nie,Nie,Osoby prywatnej,Używane,Nie,Nie,Nie,Nie,2023-08-25 15:27:00,2023-08-31 04:04:08
4,29000.0,"Lublin, Lubelskie",Osobowe,Abarth Grande Punto,Abarth,Grande Punto,Unknown,2009.0,14.0,222463.0,...,Nie,Nie,Osoby prywatnej,Używane,Nie,Nie,Nie,Nie,2023-08-30 15:06:00,2023-08-31 04:04:08

In [21]:
df3.head()

,Price,Currency,Condition,Vehicle_brand,Vehicle_model,Vehicle_version,Vehicle_generation,Production_year,Mileage_km,Power_HP,...,Drive,Transmission,Type,Doors_number,Colour,Origin_country,First_owner,Offer_publication_date,Offer_location,Features
Index,,,,,,,,,,,,,,,,,,,,,
0,86200,PLN,New,Abarth,595,Brak danych,Brak danych,2021,1.0,145.0,...,Front wheels,Manual,small_cars,3.0,gray,Brak danych,No,04/05/2021,"ul. Jubilerska 6 - 04-190 Warszawa, Mazowiecki...",[]
1,43500,PLN,Used,Abarth,Other,Brak danych,Brak danych,1974,59000.0,75.0,...,Front wheels,Manual,coupe,2.0,silver,Brak danych,No,03/05/2021,"kanonierska12 - 04-425 Warszawa, Rembertów (Po...",[]
2,44900,PLN,Used,Abarth,500,Brak danych,Brak danych,2018,52000.0,180.0,...,Front wheels,Automatic,small_cars,3.0,silver,Brak danych,No,03/05/2021,"Warszawa, Mazowieckie, Białołęka","['ABS', 'Electric front windows', 'Drivers air..."
3,39900,PLN,Used,Abarth,500,Brak danych,Brak danych,2012,29000.0,160.0,...,Front wheels,Manual,small_cars,3.0,gray,Brak danych,No,30/04/2021,"Jaworzno, Śląskie","['ABS', 'Electric front windows', 'Drivers air..."
4,97900,PLN,New,Abarth,595,Brak danych,Brak danych,2021,600.0,165.0,...,Front wheels,Manual,small_cars,3.0,blue,Brak danych,No,30/04/2021,"ul. Gorzysława 9 - 61-057 Poznań, Nowe Miasto ...","['ABS', 'Electrically adjustable mirrors', 'Pa..."

In [6]:
df2["Lokalizacja"]

0         ul. Henryka Kamieńskiego 47 - 30-644 Kraków, P...
1                                  Gliwice, Śląskie, Trynek
2              Strzebielino Osiedle, wejherowski, Pomorskie
3                           Skrzynka, kłodzki, Dolnośląskie
4                                         Lublin, Lubelskie
                                ...
170678                   Przasnysz, przasnyski, Mazowieckie
170680                   Kościerzyna, kościerski, Pomorskie
170682                          Gdańsk, Pomorskie, Matarnia
170684    Modła 36 - 06-521 Wiśniewo, mławski, Mazowieck...
170692               Krotoszyn, krotoszyński, Wielkopolskie
Name: Lokalizacja, Length: 167310, dtype: object

In [28]:
def wyciagnij_wojewodztwo(tekst):
    for wojewodztwo in wojewodztwa:
        if wojewodztwo.lower() in tekst.lower():
            return wojewodztwo.capitalize()
    return "Nie znaleziono"

In [32]:

# Tworzenie nowej kolumny w DataFrame
df2['Wojewodztwo'] = df2['Lokalizacja'].apply(wyciagnij_wojewodztwo)

In [33]:
df2["Wojewodztwo"]

0         Nie znaleziono
1                Śląskie
2              Pomorskie
3           Dolnośląskie
4              Lubelskie
               ...
170678       Mazowieckie
170680         Pomorskie
170682         Pomorskie
170684       Mazowieckie
170692          Opolskie
Name: Wojewodztwo, Length: 167310, dtype: object

In [37]:
df2["Lokalizacja"].iloc[0]

'ul. Henryka Kamieńskiego 47 - 30-644 Kraków, Podgórze Duchackie (Polska)'

In [35]:
df2["Wojewodztwo"].value_counts()

Mazowieckie            25624
Nie znaleziono         24828
Opolskie               22815
Śląskie                17645
Małopolskie            12823
Pomorskie              11719
Dolnośląskie           10237
Łódzkie                 8006
Kujawsko-pomorskie      7155
Lubelskie               5815
Podkarpackie            5239
Świętokrzyskie          4771
Lubuskie                4192
Warmińsko-mazurskie     3669
Podlaskie               2772
Name: Wojewodztwo, dtype: int64

In [40]:
df2[df2["Wojewodztwo"] == "Nie znaleziono"]

,Cena,Lokalizacja,Kategoria,Tytuł ogłoszenia,Marka pojazdu,Model pojazdu,Generacja,Rok produkcji,Wiek,Przebieg,...,Oferta od,Stan,Bezwypadkowy,Uszkodzony,Możliwość finansowania,Pierwszy właściciel (od nowości),Czas dodania,timestamp,wojewodztwo,Wojewodztwo
0,105900.0,"ul. Henryka Kamieńskiego 47 - 30-644 Kraków, P...",Osobowe,Abarth 595,Abarth,595,Unknown,2021.0,2.0,12015.0,...,Firmy,Używane,Tak,Nie,Nie,Nie,2023-08-30 17:12:00,2023-08-31 04:04:08,Nie znaleziono,Nie znaleziono
9,197997.0,"Ustowo 57 - 70-001 Szczecin, Zachód (Polska)",Osobowe,Abarth,Abarth,Inny,Unknown,2023.0,0.0,5.0,...,Firmy,Nowe,Tak,Nie,Tak,Nie,2023-08-29 11:18:00,2023-08-31 04:04:08,Nie znaleziono,Nie znaleziono
17,198800.0,"ul. Gorzysława 9 - 61-057 Poznań, Nowe Miasto ...",Osobowe,Abarth,Abarth,Inny,Unknown,2023.0,0.0,1.0,...,Firmy,Nowe,Tak,Nie,Nie,Nie,2023-08-27 12:50:00,2023-08-31 04:04:08,Nie znaleziono,Nie znaleziono
26,105900.0,"ul. Henryka Kamieńskiego 47 - 30-644 Kraków, P...",Osobowe,Abarth 595,Abarth,595,Unknown,2021.0,2.0,12015.0,...,Firmy,Używane,Tak,Nie,Nie,Nie,2023-08-30 17:12:00,2023-08-31 04:04:08,Nie znaleziono,Nie znaleziono
36,197997.0,"Ustowo 57 - 70-001 Szczecin, Zachód (Polska)",Osobowe,Abarth,Abarth,Inny,Unknown,2023.0,0.0,5.0,...,Firmy,Nowe,Tak,Nie,Tak,Nie,2023-08-29 11:18:00,2023-08-31 04:04:08,Nie znaleziono,Nie znaleziono
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170616,124900.0,"OBORNICKA 239 - 60-650 Poznań, Stare Miasto (P...",Osobowe,Volvo XC 40 T5 AWD Geartronic R-Design,Volvo,XC 40,Unknown,2020.0,3.0,65000.0,...,Firmy,Używane,Nie,Nie,Nie,Tak,2023-08-21 09:26:00,2023-08-31 01:51:18,Nie znaleziono,Nie znaleziono
170624,172999.0,ul.RÓŻANA 3 05-816 OPACZ KOLONIA - 05-816 Wars...,Osobowe,Volvo XC 90 D5 AWD Inscription 7os,Volvo,XC 90,II (2014-),2017.0,6.0,121000.0,...,Firmy,Używane,Tak,Nie,Tak,Tak,2023-08-21 08:54:00,2023-08-31 01:51:19,Nie znaleziono,Nie znaleziono
170638,19900.0,"Głuszyna 31 - 61-332 Poznań, Nowe Miasto (Polska)",Osobowe,Volvo S40,Volvo,S40,II (2004-2012),2007.0,16.0,185835.0,...,Firmy,Używane,Tak,Nie,Tak,Tak,2023-08-21 03:20:00,2023-08-31 01:51:19,Nie znaleziono,Nie znaleziono
170658,16800.0,"Na zapytanie - 04-430 Warszawa, Rembertów (Pol...",Osobowe,Volvo V70 2.0D Momentum,Volvo,V70,III (2007-),2008.0,15.0,363000.0,...,Firmy,Używane,Tak,Nie,Nie,Nie,2023-08-17 16:14:00,2023-08-31 01:51:20,Nie znaleziono,Nie znaleziono
170668,199000.0,"ul. Zacisze 1 - 15-180 Białystok, Wygoda (Polska)",Osobowe,Volvo XC 60,Volvo,XC 60,II (2017-),2020.0,3.0,36000.0,...,Firmy,Używane,Nie,Nie,Nie,Nie,2023-08-16 09:36:00,2023-08-31 01:51:20,Nie znaleziono,Nie znaleziono

In [50]:
pd.read_csv(r"C:\Users\Kacper\Desktop\uczelnia\sem6\Praca\data\wojewodztwa_miasta.csv", sep =";", index_col="id")

     nazwa miasta   nazwa województwa
id
1     Bolesławiec        DOLNOŚLĄSKIE
2    Nowogrodziec        DOLNOŚLĄSKIE
3         Bielawa        DOLNOŚLĄSKIE
4     Dzierżoniów        DOLNOŚLĄSKIE
5        Pieszyce        DOLNOŚLĄSKIE
..            ...                 ...
914         Resko  ZACHODNIOPOMORSKIE
915     Węgorzyno  ZACHODNIOPOMORSKIE
916      Koszalin  ZACHODNIOPOMORSKIE
917      Szczecin  ZACHODNIOPOMORSKIE
918   Świnoujście  ZACHODNIOPOMORSKIE

[918 rows x 2 columns]