In [90]:
import pandas as pd
import numpy as np
from datetime import datetime

# Import the Data

In [91]:
df1 = pd.read_csv(r"C:\Users\Kacper\Desktop\uczelnia\sem6\Praca\data\df1_clean.csv", index_col=0)

In [92]:
df2 = pd.read_csv(r"C:\Users\Kacper\Desktop\uczelnia\sem6\Praca\data\df2_clean.csv", index_col=0)

In [93]:
df3 = pd.read_csv(r"C:\Users\Kacper\Desktop\uczelnia\sem6\Praca\data\df3_clean.csv", index_col=0)

In [94]:
miasta_wojewodztwa = pd.read_csv(r"C:\Users\Kacper\Desktop\uczelnia\sem6\Praca\data\wojewodztwa_miasta.csv", sep =";", index_col="id")

In [95]:
df1.head()

,mark,model,generation_name,year,mileage,vol_engine,fuel,city,province,price
0,opel,combo,gen-d-2011,2015,139568,1248,Diesel,Janki,Mazowieckie,35900
1,opel,combo,gen-d-2011,2018,31991,1499,Diesel,Katowice,Śląskie,78501
2,opel,combo,gen-d-2011,2015,278437,1598,Diesel,Brzeg,Opolskie,27000
3,opel,combo,gen-d-2011,2016,47600,1248,Diesel,Korfantów,Opolskie,30800
4,opel,combo,gen-d-2011,2014,103000,1400,CNG,Tarnowskie Góry,Śląskie,35900

In [96]:
df2.head()

,Cena,Lokalizacja,Kategoria,Tytuł ogłoszenia,Marka pojazdu,Model pojazdu,Generacja,Rok produkcji,Wiek,Przebieg,...,Zarejestrowany jako zabytek,Tuning,Oferta od,Stan,Bezwypadkowy,Uszkodzony,Możliwość finansowania,Pierwszy właściciel (od nowości),Czas dodania,timestamp
0,105900.0,"ul. Henryka Kamieńskiego 47 - 30-644 Kraków, P...",Osobowe,Abarth 595,Abarth,595,Unknown,2021.0,2.0,12015.0,...,Nie,Nie,Firmy,Używane,Tak,Nie,Nie,Nie,2023-08-30 17:12:00,2023-08-31 04:04:08
1,112000.0,"Gliwice, Śląskie, Trynek",Osobowe,Abarth 595,Abarth,595,Unknown,2023.0,0.0,7.0,...,Nie,Nie,Osoby prywatnej,Używane,Tak,Nie,Nie,Nie,2023-08-30 15:57:00,2023-08-31 04:04:08
2,39999.0,"Strzebielino Osiedle, wejherowski, Pomorskie",Osobowe,Abarth 500,Abarth,500,Unknown,2011.0,12.0,151255.0,...,Nie,Nie,Osoby prywatnej,Używane,Nie,Nie,Nie,Nie,2023-08-30 13:08:00,2023-08-31 04:04:08
3,22800.0,"Skrzynka, kłodzki, Dolnośląskie",Osobowe,Abarth Grande Punto,Abarth,Grande Punto,Unknown,2009.0,14.0,299500.0,...,Nie,Nie,Osoby prywatnej,Używane,Nie,Nie,Nie,Nie,2023-08-25 15:27:00,2023-08-31 04:04:08
4,29000.0,"Lublin, Lubelskie",Osobowe,Abarth Grande Punto,Abarth,Grande Punto,Unknown,2009.0,14.0,222463.0,...,Nie,Nie,Osoby prywatnej,Używane,Nie,Nie,Nie,Nie,2023-08-30 15:06:00,2023-08-31 04:04:08

In [97]:
df3.head()

,Price,Currency,Condition,Vehicle_brand,Vehicle_model,Vehicle_version,Vehicle_generation,Production_year,Mileage_km,Power_HP,...,Drive,Transmission,Type,Doors_number,Colour,Origin_country,First_owner,Offer_publication_date,Offer_location,Features
Index,,,,,,,,,,,,,,,,,,,,,
0,86200,PLN,New,Abarth,595,Brak danych,Brak danych,2021,1.0,145.0,...,Front wheels,Manual,small_cars,3.0,gray,Brak danych,No,04/05/2021,"ul. Jubilerska 6 - 04-190 Warszawa, Mazowiecki...",[]
1,43500,PLN,Used,Abarth,Other,Brak danych,Brak danych,1974,59000.0,75.0,...,Front wheels,Manual,coupe,2.0,silver,Brak danych,No,03/05/2021,"kanonierska12 - 04-425 Warszawa, Rembertów (Po...",[]
2,44900,PLN,Used,Abarth,500,Brak danych,Brak danych,2018,52000.0,180.0,...,Front wheels,Automatic,small_cars,3.0,silver,Brak danych,No,03/05/2021,"Warszawa, Mazowieckie, Białołęka","['ABS', 'Electric front windows', 'Drivers air..."
3,39900,PLN,Used,Abarth,500,Brak danych,Brak danych,2012,29000.0,160.0,...,Front wheels,Manual,small_cars,3.0,gray,Brak danych,No,30/04/2021,"Jaworzno, Śląskie","['ABS', 'Electric front windows', 'Drivers air..."
4,97900,PLN,New,Abarth,595,Brak danych,Brak danych,2021,600.0,165.0,...,Front wheels,Manual,small_cars,3.0,blue,Brak danych,No,30/04/2021,"ul. Gorzysława 9 - 61-057 Poznań, Nowe Miasto ...","['ABS', 'Electrically adjustable mirrors', 'Pa..."

# DF2

## Extracting the province and cities

In [98]:
df2["Lokalizacja"]

0         ul. Henryka Kamieńskiego 47 - 30-644 Kraków, P...
1                                  Gliwice, Śląskie, Trynek
2              Strzebielino Osiedle, wejherowski, Pomorskie
3                           Skrzynka, kłodzki, Dolnośląskie
4                                         Lublin, Lubelskie
                                ...
170678                   Przasnysz, przasnyski, Mazowieckie
170680                   Kościerzyna, kościerski, Pomorskie
170682                          Gdańsk, Pomorskie, Matarnia
170684    Modła 36 - 06-521 Wiśniewo, mławski, Mazowieck...
170692               Krotoszyn, krotoszyński, Wielkopolskie
Name: Lokalizacja, Length: 167310, dtype: object

In [99]:
# Lista nazw województw z małymi literami
wojewodztwa = ["dolnośląskie", "kujawsko-pomorskie", "lubelskie", "lubuskie", "łódzkie", "małopolskie",
               "mazowieckie", "opolskie", "podkarpackie", "podlaskie", "pomorskie", "śląskie",
               "świętokrzyskie", "warmińsko-mazurskie", "wielkopolskie", "zachodniopomorskie"]

### Function that extracts the province name from the "Lokalizacja" column

In [100]:
def wyciagnij_wojewodztwo(tekst):
    for wojewodztwo in wojewodztwa:
        if wojewodztwo.lower() in tekst.lower():
            return wojewodztwo.capitalize()
    return "Nie znaleziono"

### Function that extracts the city name from the "Lokalizacja" column

In [101]:
def wyciagnij_miasto(tekst):
    for miasto in miasta:
        if miasto.lower() in tekst.lower():
            return miasto.capitalize()
    return "Nie znaleziono"

### Function, which, based on the city from the city_village frame, defines the province

In [102]:
def wojewodztwo_na_podstawie_miasta(tekst):
    for miasto in miasta:
        if miasto.lower() in tekst.lower(): 
            if len(miasta_wojewodztwa[miasta_wojewodztwa["nazwa miasta"] == miasto.capitalize()]) != 0:
                index_woj = miasta_wojewodztwa[miasta_wojewodztwa["nazwa miasta"] == miasto.capitalize()].index[0] - 1
                return miasta_wojewodztwa["nazwa województwa"].iloc[index_woj]
            else:
                return "Nie znaleziono"

### Function that returns text in which only the first letter is uppercase

In [103]:
def cap(tekst):
    if pd.isna(tekst):
        return np.nan       
    else:
        return tekst.capitalize()

### Calling the functions

In [104]:
df2['Wojewodztwo'] = df2['Lokalizacja'].apply(wyciagnij_wojewodztwo)

In [105]:
df2["Wojewodztwo"]

0         Nie znaleziono
1                Śląskie
2              Pomorskie
3           Dolnośląskie
4              Lubelskie
               ...
170678       Mazowieckie
170680         Pomorskie
170682         Pomorskie
170684       Mazowieckie
170692          Opolskie
Name: Wojewodztwo, Length: 167310, dtype: object

In [106]:
df2["Wojewodztwo"].value_counts()

Mazowieckie            25624
Nie znaleziono         24828
Opolskie               22815
Śląskie                17645
Małopolskie            12823
Pomorskie              11719
Dolnośląskie           10237
Łódzkie                 8006
Kujawsko-pomorskie      7155
Lubelskie               5815
Podkarpackie            5239
Świętokrzyskie          4771
Lubuskie                4192
Warmińsko-mazurskie     3669
Podlaskie               2772
Name: Wojewodztwo, dtype: int64

In [107]:
df2[df2["Wojewodztwo"] == "Nie znaleziono"]

,Cena,Lokalizacja,Kategoria,Tytuł ogłoszenia,Marka pojazdu,Model pojazdu,Generacja,Rok produkcji,Wiek,Przebieg,...,Tuning,Oferta od,Stan,Bezwypadkowy,Uszkodzony,Możliwość finansowania,Pierwszy właściciel (od nowości),Czas dodania,timestamp,Wojewodztwo
0,105900.0,"ul. Henryka Kamieńskiego 47 - 30-644 Kraków, P...",Osobowe,Abarth 595,Abarth,595,Unknown,2021.0,2.0,12015.0,...,Nie,Firmy,Używane,Tak,Nie,Nie,Nie,2023-08-30 17:12:00,2023-08-31 04:04:08,Nie znaleziono
9,197997.0,"Ustowo 57 - 70-001 Szczecin, Zachód (Polska)",Osobowe,Abarth,Abarth,Inny,Unknown,2023.0,0.0,5.0,...,Nie,Firmy,Nowe,Tak,Nie,Tak,Nie,2023-08-29 11:18:00,2023-08-31 04:04:08,Nie znaleziono
17,198800.0,"ul. Gorzysława 9 - 61-057 Poznań, Nowe Miasto ...",Osobowe,Abarth,Abarth,Inny,Unknown,2023.0,0.0,1.0,...,Nie,Firmy,Nowe,Tak,Nie,Nie,Nie,2023-08-27 12:50:00,2023-08-31 04:04:08,Nie znaleziono
26,105900.0,"ul. Henryka Kamieńskiego 47 - 30-644 Kraków, P...",Osobowe,Abarth 595,Abarth,595,Unknown,2021.0,2.0,12015.0,...,Nie,Firmy,Używane,Tak,Nie,Nie,Nie,2023-08-30 17:12:00,2023-08-31 04:04:08,Nie znaleziono
36,197997.0,"Ustowo 57 - 70-001 Szczecin, Zachód (Polska)",Osobowe,Abarth,Abarth,Inny,Unknown,2023.0,0.0,5.0,...,Nie,Firmy,Nowe,Tak,Nie,Tak,Nie,2023-08-29 11:18:00,2023-08-31 04:04:08,Nie znaleziono
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170616,124900.0,"OBORNICKA 239 - 60-650 Poznań, Stare Miasto (P...",Osobowe,Volvo XC 40 T5 AWD Geartronic R-Design,Volvo,XC 40,Unknown,2020.0,3.0,65000.0,...,Nie,Firmy,Używane,Nie,Nie,Nie,Tak,2023-08-21 09:26:00,2023-08-31 01:51:18,Nie znaleziono
170624,172999.0,ul.RÓŻANA 3 05-816 OPACZ KOLONIA - 05-816 Wars...,Osobowe,Volvo XC 90 D5 AWD Inscription 7os,Volvo,XC 90,II (2014-),2017.0,6.0,121000.0,...,Nie,Firmy,Używane,Tak,Nie,Tak,Tak,2023-08-21 08:54:00,2023-08-31 01:51:19,Nie znaleziono
170638,19900.0,"Głuszyna 31 - 61-332 Poznań, Nowe Miasto (Polska)",Osobowe,Volvo S40,Volvo,S40,II (2004-2012),2007.0,16.0,185835.0,...,Nie,Firmy,Używane,Tak,Nie,Tak,Tak,2023-08-21 03:20:00,2023-08-31 01:51:19,Nie znaleziono
170658,16800.0,"Na zapytanie - 04-430 Warszawa, Rembertów (Pol...",Osobowe,Volvo V70 2.0D Momentum,Volvo,V70,III (2007-),2008.0,15.0,363000.0,...,Nie,Firmy,Używane,Tak,Nie,Nie,Nie,2023-08-17 16:14:00,2023-08-31 01:51:20,Nie znaleziono
170668,199000.0,"ul. Zacisze 1 - 15-180 Białystok, Wygoda (Polska)",Osobowe,Volvo XC 60,Volvo,XC 60,II (2017-),2020.0,3.0,36000.0,...,Nie,Firmy,Używane,Nie,Nie,Nie,Nie,2023-08-16 09:36:00,2023-08-31 01:51:20,Nie znaleziono

In [108]:
# List of polish cities
miasta = miasta_wojewodztwa["nazwa miasta"]

In [109]:
#Calling the wyciagnij_miast function
df2['Miasto'] = df2['Lokalizacja'].apply(wyciagnij_miasto)

In [110]:
#Calling the wojewodztwo_na_podstawie_miasta function
df2["Wojewodztwo2"] = df2['Miasto'].apply(wojewodztwo_na_podstawie_miasta)

In [111]:
df2["Wojewodztwo2"].value_counts()

MAZOWIECKIE            25378
WIELKOPOLSKIE          15911
ŚLĄSKIE                15741
DOLNOŚLĄSKIE           14652
Nie znaleziono         13219
MAŁOPOLSKIE             8717
KUJAWSKO-POMORSKIE      8365
ŁÓDZKIE                 8298
POMORSKIE               8209
LUBELSKIE               5434
ZACHODNIOPOMORSKIE      4729
PODKARPACKIE            4195
WARMIŃSKO-MAZURSKIE     3736
OPOLSKIE                3073
PODLASKIE               2864
ŚWIĘTOKRZYSKIE          2766
LUBUSKIE                2645
Name: Wojewodztwo2, dtype: int64

In [112]:
# Determining the province based on two predefined columns
df2['Województwo'] = df2.apply(lambda row: row['Wojewodztwo'] if row['Wojewodztwo'] != 'Nie znaleziono' else row['Wojewodztwo2'], axis=1)

In [113]:
#Calling the cap function
df2["Województwo"] = df2["Województwo"].apply(cap)

In [114]:
df2["Województwo"].value_counts()

Mazowieckie            32394
Opolskie               22821
Śląskie                21430
Małopolskie            14703
Pomorskie              14351
Dolnośląskie           12253
Łódzkie                10566
Kujawsko-pomorskie      8484
Lubelskie               6020
Podkarpackie            5289
Lubuskie                4817
Świętokrzyskie          4771
Warmińsko-mazurskie     3724
Podlaskie               3421
Zachodniopomorskie      1275
Wielkopolskie            816
Nie znaleziono            61
Name: Województwo, dtype: int64

In [115]:
df2.drop(["Wojewodztwo2", "Wojewodztwo"], axis = 1, inplace = True)

In [116]:
df2

,Cena,Lokalizacja,Kategoria,Tytuł ogłoszenia,Marka pojazdu,Model pojazdu,Generacja,Rok produkcji,Wiek,Przebieg,...,Oferta od,Stan,Bezwypadkowy,Uszkodzony,Możliwość finansowania,Pierwszy właściciel (od nowości),Czas dodania,timestamp,Miasto,Województwo
0,105900.0,"ul. Henryka Kamieńskiego 47 - 30-644 Kraków, P...",Osobowe,Abarth 595,Abarth,595,Unknown,2021.0,2.0,12015.0,...,Firmy,Używane,Tak,Nie,Nie,Nie,2023-08-30 17:12:00,2023-08-31 04:04:08,Kamieńsk,Łódzkie
1,112000.0,"Gliwice, Śląskie, Trynek",Osobowe,Abarth 595,Abarth,595,Unknown,2023.0,0.0,7.0,...,Osoby prywatnej,Używane,Tak,Nie,Nie,Nie,2023-08-30 15:57:00,2023-08-31 04:04:08,Gliwice,Śląskie
2,39999.0,"Strzebielino Osiedle, wejherowski, Pomorskie",Osobowe,Abarth 500,Abarth,500,Unknown,2011.0,12.0,151255.0,...,Osoby prywatnej,Używane,Nie,Nie,Nie,Nie,2023-08-30 13:08:00,2023-08-31 04:04:08,Nie znaleziono,Pomorskie
3,22800.0,"Skrzynka, kłodzki, Dolnośląskie",Osobowe,Abarth Grande Punto,Abarth,Grande Punto,Unknown,2009.0,14.0,299500.0,...,Osoby prywatnej,Używane,Nie,Nie,Nie,Nie,2023-08-25 15:27:00,2023-08-31 04:04:08,Nie znaleziono,Dolnośląskie
4,29000.0,"Lublin, Lubelskie",Osobowe,Abarth Grande Punto,Abarth,Grande Punto,Unknown,2009.0,14.0,222463.0,...,Osoby prywatnej,Używane,Nie,Nie,Nie,Nie,2023-08-30 15:06:00,2023-08-31 04:04:08,Lublin,Lubelskie
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170678,7900.0,"Przasnysz, przasnyski, Mazowieckie",Osobowe,Wartburg 1.3,Wartburg,1.3,Unknown,1990.0,33.0,54796.0,...,Osoby prywatnej,Używane,Nie,Nie,Nie,Tak,2023-08-27 09:47:00,2023-08-31 04:07:14,Przasnysz,Mazowieckie
170680,6700.0,"Kościerzyna, kościerski, Pomorskie",Osobowe,Wartburg 1.3,Wartburg,1.3,Unknown,1991.0,32.0,74500.0,...,Osoby prywatnej,Używane,Nie,Nie,Nie,Nie,2023-08-24 21:15:00,2023-08-31 04:07:14,Kościerzyna,Pomorskie
170682,19999.0,"Gdańsk, Pomorskie, Matarnia",Osobowe,Wartburg 353 1.0 W,Wartburg,353,Unknown,1988.0,35.0,96000.0,...,Osoby prywatnej,Używane,Tak,Nie,Nie,Nie,2023-08-22 20:25:00,2023-08-31 04:07:14,Gdańsk,Pomorskie
170684,12800.0,"Modła 36 - 06-521 Wiśniewo, mławski, Mazowieck...",Osobowe,Wartburg,Wartburg,Inny,Unknown,1963.0,60.0,45000.0,...,Firmy,Używane,Nie,Nie,Nie,Nie,2023-08-21 10:44:00,2023-08-31 04:07:14,Nie znaleziono,Mazowieckie
170692,3500.0,"Krotoszyn, krotoszyński, Wielkopolskie",Osobowe,Żuk,Żuk,Inny,Unknown,1965.0,58.0,12.0,...,Osoby prywatnej,Używane,Nie,Nie,Nie,Nie,2023-08-25 18:59:00,2023-08-31 04:14:09,Krotoszyn,Opolskie

In [117]:
def extract_date(date_str):
    date_obj = datetime.strptime(date_str, "%d/%m/%Y")
    return date_obj

In [118]:
def extract_date_with_hour(date_str):
    # Parsowanie tekstu na obiekt daty
    date_obj = datetime.strptime(date_str, "%Y-%m-%d %H:%M:%S")
    return date_obj.date()

In [119]:
def return_month(date_obj):
    return date_obj.month

In [120]:
def return_year(date_obj):
    return date_obj.year

In [121]:
def return_day(date_obj):
    return date_obj.day

In [122]:
df2["Data"] = df2["Czas dodania"].apply(extract_date_with_hour)

In [123]:
df2["Miesiąc"] = df2["Data"].apply(return_month)

In [124]:
df2["Rok"] = df2["Data"].apply(return_year)

In [125]:
df2["Dzień"] = df2["Data"].apply(return_day)

In [126]:
df2.columns

Index(['Cena', 'Lokalizacja', 'Kategoria', 'Tytuł ogłoszenia', 'Marka pojazdu',
       'Model pojazdu', 'Generacja', 'Rok produkcji', 'Wiek', 'Przebieg',
       'Pojemność skokowa', 'Rodzaj paliwa', 'Moc', 'Skrzynia biegów', 'Napęd',
       'Spalanie W Mieście', 'Typ nadwozia', 'Liczba drzwi', 'Liczba miejsc',
       'Kolor', 'Rodzaj koloru', 'Tapicerka', 'Felgi', 'Tempomat',
       'Lampy bi-ksenonowe', 'Klimatyzacja', 'Waluta', 'Cena_pln',
       'Kraj pochodzenia', 'Zarejestrowany jako zabytek', 'Tuning',
       'Oferta od', 'Stan', 'Bezwypadkowy', 'Uszkodzony',
       'Możliwość finansowania', 'Pierwszy właściciel (od nowości)',
       'Czas dodania', 'timestamp', 'Miasto', 'Województwo', 'Data', 'Miesiąc',
       'Rok', 'Dzień'],
      dtype='object')

In [127]:
df2["Kategoria"].value_counts()

Osobowe    167310
Name: Kategoria, dtype: int64

In [128]:
df2.drop("Kategoria", axis = 1, inplace = True)

In [129]:
df2.drop("Tytuł ogłoszenia", axis = 1, inplace = True)

In [130]:
df2["Waluta"].value_counts()

PLN    167051
EUR       259
Name: Waluta, dtype: int64

In [131]:
df2[df2["Waluta"] == "EUR"][["Cena","Cena_pln"]]

            Cena   Cena_pln
1273    318640.0  1413583.0
1275    283000.0  1255473.0
1278    899500.0  3990452.0
1282    296960.0  1317404.0
1283    260420.0  1155301.0
...          ...        ...
163960    5900.0    26174.0
165228    9500.0    42145.0
167610   18500.0    82072.0
168180   17200.0    76304.0
168191   13200.0    58559.0

[259 rows x 2 columns]

In [132]:
# So columns like waluta and Cena should be dropped
df2.drop("Cena", axis = 1, inplace = True)
df2.drop("Cena_pln", axis = 1, inplace = True)

In [133]:
df2["Możliwość finansowania"].value_counts()

Nie      117125
Tak       50184
false         1
Name: Możliwość finansowania, dtype: int64

In [134]:
df2 = df2[df2["Możliwość finansowania"] != 'false']

In [135]:
df2["Możliwość finansowania"].value_counts()

Nie    117125
Tak     50184
Name: Możliwość finansowania, dtype: int64

In [136]:
df2.drop("timestamp", axis = 1, inplace = True)

C:\Users\Kacper\AppData\Local\Temp\ipykernel_7900\3610511158.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop("timestamp", axis = 1, inplace = True)

In [137]:
df2.columns

Index(['Lokalizacja', 'Marka pojazdu', 'Model pojazdu', 'Generacja',
       'Rok produkcji', 'Wiek', 'Przebieg', 'Pojemność skokowa',
       'Rodzaj paliwa', 'Moc', 'Skrzynia biegów', 'Napęd',
       'Spalanie W Mieście', 'Typ nadwozia', 'Liczba drzwi', 'Liczba miejsc',
       'Kolor', 'Rodzaj koloru', 'Tapicerka', 'Felgi', 'Tempomat',
       'Lampy bi-ksenonowe', 'Klimatyzacja', 'Waluta', 'Kraj pochodzenia',
       'Zarejestrowany jako zabytek', 'Tuning', 'Oferta od', 'Stan',
       'Bezwypadkowy', 'Uszkodzony', 'Możliwość finansowania',
       'Pierwszy właściciel (od nowości)', 'Czas dodania', 'Miasto',
       'Województwo', 'Data', 'Miesiąc', 'Rok', 'Dzień'],
      dtype='object')

In [138]:
len(df2.columns)

40

# DF3

## Extracting the province and cities

In [139]:
df3.head()

,Price,Currency,Condition,Vehicle_brand,Vehicle_model,Vehicle_version,Vehicle_generation,Production_year,Mileage_km,Power_HP,...,Drive,Transmission,Type,Doors_number,Colour,Origin_country,First_owner,Offer_publication_date,Offer_location,Features
Index,,,,,,,,,,,,,,,,,,,,,
0,86200,PLN,New,Abarth,595,Brak danych,Brak danych,2021,1.0,145.0,...,Front wheels,Manual,small_cars,3.0,gray,Brak danych,No,04/05/2021,"ul. Jubilerska 6 - 04-190 Warszawa, Mazowiecki...",[]
1,43500,PLN,Used,Abarth,Other,Brak danych,Brak danych,1974,59000.0,75.0,...,Front wheels,Manual,coupe,2.0,silver,Brak danych,No,03/05/2021,"kanonierska12 - 04-425 Warszawa, Rembertów (Po...",[]
2,44900,PLN,Used,Abarth,500,Brak danych,Brak danych,2018,52000.0,180.0,...,Front wheels,Automatic,small_cars,3.0,silver,Brak danych,No,03/05/2021,"Warszawa, Mazowieckie, Białołęka","['ABS', 'Electric front windows', 'Drivers air..."
3,39900,PLN,Used,Abarth,500,Brak danych,Brak danych,2012,29000.0,160.0,...,Front wheels,Manual,small_cars,3.0,gray,Brak danych,No,30/04/2021,"Jaworzno, Śląskie","['ABS', 'Electric front windows', 'Drivers air..."
4,97900,PLN,New,Abarth,595,Brak danych,Brak danych,2021,600.0,165.0,...,Front wheels,Manual,small_cars,3.0,blue,Brak danych,No,30/04/2021,"ul. Gorzysława 9 - 61-057 Poznań, Nowe Miasto ...","['ABS', 'Electrically adjustable mirrors', 'Pa..."

In [140]:
df3["Province"] = df3["Offer_location"].apply(wyciagnij_wojewodztwo)

In [141]:
df3["Province"].value_counts()

Nie znaleziono         28777
Mazowieckie            28487
Opolskie               27551
Śląskie                23088
Małopolskie            15912
Pomorskie              15314
Dolnośląskie           12531
Łódzkie                10125
Kujawsko-pomorskie      9324
Lubelskie               7535
Podkarpackie            6579
Świętokrzyskie          5859
Lubuskie                5110
Warmińsko-mazurskie     4695
Podlaskie               3088
Name: Province, dtype: int64

In [142]:
df3["City"] = df3["Offer_location"].apply(wyciagnij_miasto)

In [143]:
df3["City"].value_counts()

Nie znaleziono      23302
Warszawa            13813
Wrocław              7445
Kraków               5401
Poznań               4655
                    ...
Rudnik nad sanem        1
Knyszyn                 1
Krynki                  1
Bisztynek               1
Świerzawa               1
Name: City, Length: 834, dtype: int64

In [144]:
df3["Province2"] = df3['City'].apply(wojewodztwo_na_podstawie_miasta)

In [145]:
df3["Province2"].value_counts()

MAZOWIECKIE            29460
ŚLĄSKIE                19655
WIELKOPOLSKIE          18886
DOLNOŚLĄSKIE           18162
Nie znaleziono         16658
MAŁOPOLSKIE            10863
KUJAWSKO-POMORSKIE     10204
ŁÓDZKIE                 9804
POMORSKIE               9388
LUBELSKIE               7002
ZACHODNIOPOMORSKIE      6186
PODKARPACKIE            5203
WARMIŃSKO-MAZURSKIE     4653
OPOLSKIE                4004
LUBUSKIE                3698
PODLASKIE               3562
ŚWIĘTOKRZYSKIE          3285
Name: Province2, dtype: int64

In [146]:
# Determining the province based on two predefined columns
df3['ProvinceSum'] = df3.apply(lambda row: row['Province'] if row['Province'] != 'Nie znaleziono' else row['Province2'], axis=1)

In [147]:
df3["Province"] = df3['ProvinceSum']

In [148]:
df3.drop(["Province2", "ProvinceSum"], axis = 1, inplace = True)

In [149]:
df3["Province"] = df3["Province"].apply(cap)

In [150]:
df3

,Price,Currency,Condition,Vehicle_brand,Vehicle_model,Vehicle_version,Vehicle_generation,Production_year,Mileage_km,Power_HP,...,Type,Doors_number,Colour,Origin_country,First_owner,Offer_publication_date,Offer_location,Features,Province,City
Index,,,,,,,,,,,,,,,,,,,,,
0,86200,PLN,New,Abarth,595,Brak danych,Brak danych,2021,1.0,145.0,...,small_cars,3.0,gray,Brak danych,No,04/05/2021,"ul. Jubilerska 6 - 04-190 Warszawa, Mazowiecki...",[],Mazowieckie,Warszawa
1,43500,PLN,Used,Abarth,Other,Brak danych,Brak danych,1974,59000.0,75.0,...,coupe,2.0,silver,Brak danych,No,03/05/2021,"kanonierska12 - 04-425 Warszawa, Rembertów (Po...",[],Mazowieckie,Warszawa
2,44900,PLN,Used,Abarth,500,Brak danych,Brak danych,2018,52000.0,180.0,...,small_cars,3.0,silver,Brak danych,No,03/05/2021,"Warszawa, Mazowieckie, Białołęka","['ABS', 'Electric front windows', 'Drivers air...",Mazowieckie,Warszawa
3,39900,PLN,Used,Abarth,500,Brak danych,Brak danych,2012,29000.0,160.0,...,small_cars,3.0,gray,Brak danych,No,30/04/2021,"Jaworzno, Śląskie","['ABS', 'Electric front windows', 'Drivers air...",Śląskie,Jawor
4,97900,PLN,New,Abarth,595,Brak danych,Brak danych,2021,600.0,165.0,...,small_cars,3.0,blue,Brak danych,No,30/04/2021,"ul. Gorzysława 9 - 61-057 Poznań, Nowe Miasto ...","['ABS', 'Electrically adjustable mirrors', 'Pa...",Kujawsko-pomorskie,Nowe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208299,39900,PLN,Used,Żuk,Other,Brak danych,Brak danych,2014,40000.0,173.0,...,small_cars,1.0,other,Brak danych,No,30/04/2021,"ul. Huzarska 12 - 47-400 Racibórz, raciborski,...",[],Śląskie,Racibórz
208300,10900,PLN,Used,Żuk,Other,Brak danych,Brak danych,1970,63518.0,70.0,...,station_wagon,4.0,other,Poland,No,02/05/2021,"Włocławek, Kujawsko-pomorskie",[],Kujawsko-pomorskie,Włocławek
208301,6900,PLN,Used,Żuk,Other,Brak danych,Brak danych,1977,11880.0,60.0,...,SUV,3.0,red,Brak danych,No,28/04/2021,"Złotów, złotowski, Wielkopolskie",[],Opolskie,Złotów
208302,5700,PLN,Used,Żuk,Other,Brak danych,Brak danych,1986,100000.0,36.0,...,minivan,2.0,blue,Brak danych,No,24/04/2021,"Kraczkowa, łańcucki, Podkarpackie",[],Podkarpackie,Nie znaleziono
208303,11900,PLN,Used,Żuk,Other,Brak danych,Brak danych,1985,20056.0,70.0,...,minivan,3.0,red,Brak danych,No,04/05/2021,"Szczecińska 40 - 75-137 Koszalin, Zachodniopom...",[],Pomorskie,Koszalin

## Dealing with Offer_publication_date(string)

In [151]:
df3["Offer_publication_date"]

Index
0         04/05/2021
1         03/05/2021
2         03/05/2021
3         30/04/2021
4         30/04/2021
             ...
208299    30/04/2021
208300    02/05/2021
208301    28/04/2021
208302    24/04/2021
208303    04/05/2021
Name: Offer_publication_date, Length: 203975, dtype: object

In [152]:
df3["Offer_publication_date"] = df3["Offer_publication_date"].apply(extract_date)

In [153]:
df3["Offer_publication_date"]

Index
0        2021-05-04
1        2021-05-03
2        2021-05-03
3        2021-04-30
4        2021-04-30
            ...
208299   2021-04-30
208300   2021-05-02
208301   2021-04-28
208302   2021-04-24
208303   2021-05-04
Name: Offer_publication_date, Length: 203975, dtype: datetime64[ns]

In [154]:
df3["Month"] = df3["Offer_publication_date"].apply(return_month)

In [155]:
df3["Day"] = df3["Offer_publication_date"].apply(return_day)

In [156]:
df3["Year"] = df3["Offer_publication_date"].apply(return_year)

In [157]:
df3

,Price,Currency,Condition,Vehicle_brand,Vehicle_model,Vehicle_version,Vehicle_generation,Production_year,Mileage_km,Power_HP,...,Origin_country,First_owner,Offer_publication_date,Offer_location,Features,Province,City,Month,Day,Year
Index,,,,,,,,,,,,,,,,,,,,,
0,86200,PLN,New,Abarth,595,Brak danych,Brak danych,2021,1.0,145.0,...,Brak danych,No,2021-05-04,"ul. Jubilerska 6 - 04-190 Warszawa, Mazowiecki...",[],Mazowieckie,Warszawa,5,4,2021
1,43500,PLN,Used,Abarth,Other,Brak danych,Brak danych,1974,59000.0,75.0,...,Brak danych,No,2021-05-03,"kanonierska12 - 04-425 Warszawa, Rembertów (Po...",[],Mazowieckie,Warszawa,5,3,2021
2,44900,PLN,Used,Abarth,500,Brak danych,Brak danych,2018,52000.0,180.0,...,Brak danych,No,2021-05-03,"Warszawa, Mazowieckie, Białołęka","['ABS', 'Electric front windows', 'Drivers air...",Mazowieckie,Warszawa,5,3,2021
3,39900,PLN,Used,Abarth,500,Brak danych,Brak danych,2012,29000.0,160.0,...,Brak danych,No,2021-04-30,"Jaworzno, Śląskie","['ABS', 'Electric front windows', 'Drivers air...",Śląskie,Jawor,4,30,2021
4,97900,PLN,New,Abarth,595,Brak danych,Brak danych,2021,600.0,165.0,...,Brak danych,No,2021-04-30,"ul. Gorzysława 9 - 61-057 Poznań, Nowe Miasto ...","['ABS', 'Electrically adjustable mirrors', 'Pa...",Kujawsko-pomorskie,Nowe,4,30,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208299,39900,PLN,Used,Żuk,Other,Brak danych,Brak danych,2014,40000.0,173.0,...,Brak danych,No,2021-04-30,"ul. Huzarska 12 - 47-400 Racibórz, raciborski,...",[],Śląskie,Racibórz,4,30,2021
208300,10900,PLN,Used,Żuk,Other,Brak danych,Brak danych,1970,63518.0,70.0,...,Poland,No,2021-05-02,"Włocławek, Kujawsko-pomorskie",[],Kujawsko-pomorskie,Włocławek,5,2,2021
208301,6900,PLN,Used,Żuk,Other,Brak danych,Brak danych,1977,11880.0,60.0,...,Brak danych,No,2021-04-28,"Złotów, złotowski, Wielkopolskie",[],Opolskie,Złotów,4,28,2021
208302,5700,PLN,Used,Żuk,Other,Brak danych,Brak danych,1986,100000.0,36.0,...,Brak danych,No,2021-04-24,"Kraczkowa, łańcucki, Podkarpackie",[],Podkarpackie,Nie znaleziono,4,24,2021
208303,11900,PLN,Used,Żuk,Other,Brak danych,Brak danych,1985,20056.0,70.0,...,Brak danych,No,2021-05-04,"Szczecińska 40 - 75-137 Koszalin, Zachodniopom...",[],Pomorskie,Koszalin,5,4,2021

In [158]:
df3.columns

Index(['Price', 'Currency', 'Condition', 'Vehicle_brand', 'Vehicle_model',
       'Vehicle_version', 'Vehicle_generation', 'Production_year',
       'Mileage_km', 'Power_HP', 'Displacement_cm3', 'Fuel_type', 'Drive',
       'Transmission', 'Type', 'Doors_number', 'Colour', 'Origin_country',
       'First_owner', 'Offer_publication_date', 'Offer_location', 'Features',
       'Province', 'City', 'Month', 'Day', 'Year'],
      dtype='object')

In [159]:
df3["Origin_country"].value_counts()

Brak danych       88079
Poland            55226
Germany           37960
France             4787
United States      4036
Belgium            4014
Switzerland        2127
Netherlands        1771
Italy              1378
Austria            1198
Sweden              728
Denmark             657
Canada              590
Other               369
Czech Republic      257
Great Britain       212
Luxembourg          210
Spain               126
Finland              60
Slovakia             48
Norway               42
Slovenia             22
Russia               18
Estonia               9
Ireland               8
Greece                7
Ukraine               6
Hungary               5
Lithuania             5
Monaco                4
Belarus               3
Romania               3
Croatia               2
Turkey                2
Iceland               2
Latvia                2
Bulgaria              1
Liechtenstein         1
Name: Origin_country, dtype: int64

In [160]:
df3["Features"]

Index
0                                                        []
1                                                        []
2         ['ABS', 'Electric front windows', 'Drivers air...
3         ['ABS', 'Electric front windows', 'Drivers air...
4         ['ABS', 'Electrically adjustable mirrors', 'Pa...
                                ...
208299                                                   []
208300                                                   []
208301                                                   []
208302                                                   []
208303                                                   []
Name: Features, Length: 203975, dtype: object

In [161]:
index_to_drop = df3[df3["Features"] == "[]"].index

In [162]:
def spliting_features(x):
    y = x.split(",")
    y_list = []
    for element in y: 
        y_list.append(element.replace("[", "").replace("'", "").replace("]", "").replace(" ", ""))
    
    return y_list

In [163]:
df3["Features"] = df3["Features"].apply(spliting_features)

In [206]:
unique_list = []


def uni(x):
    for el in x:
        if el not in unique_list:
            unique_list.append(el)

In [207]:
df3["Features"].apply(uni)

Index
0         None
1         None
2         None
3         None
4         None
          ...
208299    None
208300    None
208301    None
208302    None
208303    None
Name: Features, Length: 203975, dtype: object

In [208]:
unique_list = unique_list[1:]

In [209]:
zero_data = np.zeros((208304, 70))

In [210]:
uni_df = pd.DataFrame(columns=unique_list, data=zero_data)

In [211]:
for i in range(0,len(df3["Features"])):
    for j in range(0, len(unique_list)):
        for k in range(0, len(df3["Features"].iloc[i])):
            if df3["Features"].iloc[i][k] == unique_list[j]:
                uni_df[df3["Features"].iloc[i][k]][i] = 1

In [212]:
uni_df.to_csv(r"C:\Users\Kacper\Desktop\uczelnia\sem6\Praca\data\features.csv")

In [213]:
uni_df

,ABS,Electricfrontwindows,Driversairbag,Powersteering,ASR(tractioncontrol),Rearviewcamera,Heatedsidemirrors,CD,Electricallyadjustablemirrors,Passengersairbag,...,CDchanger,Auxiliaryheating,Heatedrearseats,Four-zoneairconditioning,TVtuner,Roofrails,Activecruisecontrol,Hook,Laneassistant,HUD(head-updisplay)
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208299,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
208300,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
208301,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
208302,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
208303,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [205]:
df3["Features"].iloc[2]

['ABS',
 'Electricfrontwindows',
 'Driversairbag',
 'Powersteering',
 'ASR(tractioncontrol)',
 'Rearviewcamera',
 'Heatedsidemirrors',
 'CD',
 'Electricallyadjustablemirrors',
 'Passengersairbag',
 'Alarm',
 'Bluetooth',
 'Automaticairconditioning',
 'Airbagprotectingtheknees',
 'Centrallocking',
 'Immobilizer',
 'Factoryradio',
 'Alloywheels',
 'Rainsensor',
 'On-boardcomputer',
 'Multifunctionsteeringwheel']

In [187]:
uni_df[df3["Features"].iloc[2][3]][2]

0.0

In [185]:
df3["Features"].iloc[2][3]

'Powersteering'

In [178]:
uni_df["ABS"].iloc[2]

0.0

In [182]:
def test(feature):
    print(feature.index)