In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
from sklearn.metrics import mean_absolute_error

## Data frame with all data

In [25]:
int_df2_df3_with_province_and_city = pd.read_csv(r'C:\Users\Kacper\Desktop\uczelnia\sem6\Praca\data\int_df2_df3_with_city_and_province.csv', index_col=0)

In [34]:
int_df2_df3_with_province_and_city_dum = pd.get_dummies(int_df2_df3_with_province_and_city,drop_first=True)

In [35]:
int_df2_df3_with_province_and_city_dum.head()

,Price,Production_year,Mileage_km,Power_HP,Displacement_cm3,Doors_number,Month,Day,Year,Vehicle_brand_Acura,...,City_Żelechów,City_Żerków,City_Żmigród,City_Żnin,City_Żory,City_Żukowo,City_Żuromin,City_Żychlin,City_Żyrardów,City_Żywiec
0,105900.0,2021.0,12015.0,165.0,1368.0,3.0,8,30,2023,0,...,0,0,0,0,0,0,0,0,0,0
1,112000.0,2023.0,7.0,165.0,1368.0,3.0,8,30,2023,0,...,0,0,0,0,0,0,0,0,0,0
2,39999.0,2011.0,151255.0,135.0,1400.0,3.0,8,30,2023,0,...,0,0,0,0,0,0,0,0,0,0
3,22800.0,2009.0,299500.0,155.0,1368.0,3.0,8,25,2023,0,...,0,0,0,0,0,0,0,0,0,0
4,29000.0,2009.0,222463.0,150.0,1368.0,3.0,8,30,2023,0,...,0,0,0,0,0,0,0,0,0,0

## Data frame with all data except the city column

In [37]:
int_df2_df3_with_province = pd.read_csv(r'C:\Users\Kacper\Desktop\uczelnia\sem6\Praca\data\int_df2_df3_with_province.csv', index_col=0)

In [38]:
int_df2_df3_with_province_dum = pd.get_dummies(int_df2_df3_with_province,drop_first=True)

In [39]:
int_df2_df3_with_province_dum.head()

,Price,Production_year,Mileage_km,Power_HP,Displacement_cm3,Doors_number,Month,Day,Year,Vehicle_brand_Acura,...,Province_Opolskie,Province_Podkarpackie,Province_Podlaskie,Province_Pomorskie,Province_Warmińsko-mazurskie,Province_Wielkopolskie,Province_Zachodniopomorskie,Province_Łódzkie,Province_Śląskie,Province_Świętokrzyskie
0,105900.0,2021.0,12015.0,165.0,1368.0,3.0,8,30,2023,0,...,0,0,0,0,0,0,0,1,0,0
1,112000.0,2023.0,7.0,165.0,1368.0,3.0,8,30,2023,0,...,0,0,0,0,0,0,0,0,1,0
2,39999.0,2011.0,151255.0,135.0,1400.0,3.0,8,30,2023,0,...,0,0,0,1,0,0,0,0,0,0
3,22800.0,2009.0,299500.0,155.0,1368.0,3.0,8,25,2023,0,...,0,0,0,0,0,0,0,0,0,0
4,29000.0,2009.0,222463.0,150.0,1368.0,3.0,8,30,2023,0,...,0,0,0,0,0,0,0,0,0,0

## Data frame without city and province

In [26]:
int_df2_df3 = pd.read_csv(r'C:\Users\Kacper\Desktop\uczelnia\sem6\Praca\data\int_df2_df3.csv', index_col=0)

In [30]:
int_df2_df3_dum = pd.get_dummies(int_df2_df3,drop_first=True)

In [31]:
int_df2_df3_dum.head()

,Price,Production_year,Mileage_km,Power_HP,Displacement_cm3,Doors_number,Month,Day,Year,Vehicle_brand_Acura,...,Origin_country_Slovakia,Origin_country_Slovenia,Origin_country_South Korea,Origin_country_Spain,Origin_country_Sweden,Origin_country_Switzerland,Origin_country_Turkey,Origin_country_Ukraine,Origin_country_United States,First_owner_Yes
0,105900.0,2021.0,12015.0,165.0,1368.0,3.0,8,30,2023,0,...,0,0,0,0,0,0,0,0,0,0
1,112000.0,2023.0,7.0,165.0,1368.0,3.0,8,30,2023,0,...,0,0,0,0,0,0,0,0,0,0
2,39999.0,2011.0,151255.0,135.0,1400.0,3.0,8,30,2023,0,...,0,0,0,0,0,0,0,0,0,0
3,22800.0,2009.0,299500.0,155.0,1368.0,3.0,8,25,2023,0,...,0,0,0,0,0,0,0,0,0,0
4,29000.0,2009.0,222463.0,150.0,1368.0,3.0,8,30,2023,0,...,0,0,0,0,0,0,0,0,0,0

## Data frame without city, province and generation

In [40]:
int_df2_df3_without_generation = pd.read_csv(r'C:\Users\Kacper\Desktop\uczelnia\sem6\Praca\data\int_df2_df3_without_generation.csv', index_col=0)

In [41]:
int_df2_df3_without_generation_dum = pd.get_dummies(int_df2_df3_without_generation,drop_first=True)

In [42]:
int_df2_df3_without_generation_dum.head()

,Price,Production_year,Mileage_km,Power_HP,Displacement_cm3,Doors_number,Month,Day,Year,Vehicle_brand_Acura,...,Origin_country_Slovakia,Origin_country_Slovenia,Origin_country_South Korea,Origin_country_Spain,Origin_country_Sweden,Origin_country_Switzerland,Origin_country_Turkey,Origin_country_Ukraine,Origin_country_United States,First_owner_Yes
0,105900.0,2021.0,12015.0,165.0,1368.0,3.0,8,30,2023,0,...,0,0,0,0,0,0,0,0,0,0
1,112000.0,2023.0,7.0,165.0,1368.0,3.0,8,30,2023,0,...,0,0,0,0,0,0,0,0,0,0
2,39999.0,2011.0,151255.0,135.0,1400.0,3.0,8,30,2023,0,...,0,0,0,0,0,0,0,0,0,0
3,22800.0,2009.0,299500.0,155.0,1368.0,3.0,8,25,2023,0,...,0,0,0,0,0,0,0,0,0,0
4,29000.0,2009.0,222463.0,150.0,1368.0,3.0,8,30,2023,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
df_dum = pd.get_dummies(main_df, drop_first=True)

In [5]:
df_dum = df_dum.iloc[:200000]

In [12]:
X = df_dum.drop(["Price"], axis=1)

In [7]:
y = df_dum["Price"]

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=110)

In [9]:
X_train

,Production_year,Mileage_km,Power_HP,Displacement_cm3,Doors_number,Month,Day,Year,Vehicle_brand_Acura,Vehicle_brand_Aixam,...,City_Żelechów,City_Żerków,City_Żmigród,City_Żnin,City_Żory,City_Żukowo,City_Żuromin,City_Żychlin,City_Żyrardów,City_Żywiec
98452,2019.0,54000.0,150.0,0.0,5.0,8,21,2023,0,0,...,0,0,0,0,0,0,0,0,0,0
67905,2006.0,275000.0,218.0,2987.0,5.0,8,23,2023,0,0,...,0,0,0,0,0,0,0,0,0,0
45663,2020.0,71000.0,125.0,999.0,5.0,8,25,2023,0,0,...,0,0,0,0,0,0,0,0,0,0
100721,2016.0,83000.0,150.0,1399.0,5.0,8,24,2023,0,0,...,0,0,0,0,0,0,0,0,0,0
27583,2014.0,215000.0,218.0,1995.0,5.0,4,29,2021,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148142,2007.0,204658.0,136.0,2231.0,5.0,8,27,2023,0,0,...,0,0,0,0,0,0,0,0,0,0
3073,2006.0,196000.0,115.0,1598.0,5.0,5,1,2021,0,0,...,0,0,0,0,0,0,0,0,0,0
43446,2004.0,247050.0,60.0,1242.0,3.0,8,24,2023,0,0,...,0,0,0,0,0,0,0,0,0,0
35813,2005.0,166000.0,73.0,1360.0,3.0,8,24,2023,0,0,...,0,0,0,0,0,0,0,0,0,0
135996,2002.0,166913.0,60.0,1397.0,5.0,8,27,2023,0,0,...,0,0,0,0,0,0,0,0,0,0

## Linnear Regression

In [16]:
from sklearn.linear_model import LinearRegression

# Definiowanie rozmiaru partii
batch_size = 100

# Dzielenie danych treningowych na partie
for i in range(0, len(X_train), batch_size):
    X_batch = X_train[i:i+batch_size]
    y_batch = y_train[i:i+batch_size]

    # Utworzenie i dopasowanie modelu na partii danych
    model = LinearRegression()
    model.fit(X_batch, y_batch)
    
preds = model.predict(X_test)
mae = mean_absolute_error(y_test, preds)
print("Średni błąd bezwzględny:", mae)

Średni błąd bezwzględny: 45013.751343081734

## Random Forest

In [15]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_absolute_error

rf = RandomForestRegressor(random_state=42, n_estimators = 250)
rf .fit(X_train, y_train)
y_pred_rf = rf.predict(X_test)
mae_rf = mean_absolute_error(y_test, y_pred_rf)
print("Średni błąd bezwzględny (MAE) dla lasu losowego:", mae_rf)

Średni błąd bezwzględny (MAE) dla lasu losowego: 11259.755455369002

In [ ]:
mae_rf = mean_absolute_error(y_test, y_pred_rf)
print("Średni błąd bezwzględny (MAE) dla lasu losowego:", mae_rf/np.mean(y_test))

In [11]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_absolute_error

# Definicja siatki parametrów do przeszukania
param_grid = {
    'n_estimators': [100,200],
        'max_depth': [5,10],
    'min_samples_split': [5,10],
    'min_samples_leaf':[5,10]
}
# Inicjalizacja lasu losowego
rf = RandomForestRegressor(random_state=42)

# Utworzenie obiektu RandomizedSearchCV
grid = GridSearchCV(rf, param_grid = param_grid, cv = 3)

# Dopasowanie modelu na danych treningowych
grid.fit(X_train, y_train)

# Wybór najlepszego modelu
best_rf_model = grid.best_estimator_

# Ocena najlepszego modelu na danych testowych
y_pred_rf = best_rf_model.predict(X_test)
mae_rf = mean_absolute_error(y_test, y_pred_rf)
print("Średni błąd bezwzględny (MAE) dla lasu losowego:", mae_rf)

Średni błąd bezwzględny (MAE) dla lasu losowego: 16423.99253249171

NameError: name 'random_search' is not defined